spring:
  jpa:
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
  datasource:
    url: jdbc:h2:mem:cash-control
    driver-class-name: org.h2.Driver
    username: admin
    password: admin
  h2:
    console:
      enabled: true
  liquibase:
    parameters:
      jsonb.type: CLOB

logging:
  level:
    ROOT: INFO
    dev.thiagooliveira: DEBUG