<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{protected/fragments/head}"></div>

<body>

<div th:insert="~{protected/fragments/loader}"></div>

<div th:insert="~{protected/fragments/page-header :: pageHeader('Transações', ${'/protected/accounts/'+accountId}, false, '', false, '')}"></div>

<!-- App Capsule -->
<div id="appCapsule">
    <div th:insert="~{protected/fragments/alert}"></div>

    <div th:replace="~{protected/fragments/app-transaction-list}"></div>
</div>
<!-- * App Capsule -->

<!-- ========= JS Files =========  -->
<!-- Bootstrap -->
<script th:src="@{/assets/js/lib/bootstrap.bundle.min.js}"></script>
<!-- Ionicons -->
<script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
<!-- Splide -->
<script th:src="@{/assets/js/plugins/splide/splide.min.js}"></script>
<!-- Base Js File -->
<script th:src="@{/assets/js/base.js}"></script>

</body>

</html>