<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{protected/fragments/head}"></div>

<body>

<div th:insert="~{protected/fragments/loader}"></div>

<div th:insert="~{protected/fragments/page-header :: pageHeader('Contas', '/protected/', true, '#accountActionSheet', false, '')}"></div>

<!-- App Capsule -->
<div id="appCapsule">

    <div th:insert="~{protected/fragments/alert}"></div>

    <div class="section full">

        <ul class="listview image-listview flush">
            <li th:each="account : ${accounts}">
                <a th:href="@{'/protected/accounts/'+${account.id}}" class="item">
                    <div class="img-wrapper">
                        <img th:src="@{'/assets/img/bank/'+${account.bankImg}}" alt="img" class="image-block imaged w48">
                    </div>
                    <div class="in" style="margin-left: 10px;">
                        <div>
                            <div class="mb-05"><strong th:text="${account.name}"></strong></div>
                            <div class="text-small mb-05">Saldo: <b th:text="${account.balance}"></b></div>
                            <div class="text-xsmall" th:text="${account.getUpdatedAtFormatted()}"></div>
                        </div>
                        <span class="badge badge-primary badge-empty" th:if="${false}"></span>
                    </div>
                </a>
            </li>
        </ul>

    </div>
    <div th:replace="~{protected/fragments/app-account-action-sheet :: accountActionSheet(${account}, 'accountActionSheet')}"></div>
</div>
<!-- * App Capsule -->

<!-- ========= JS Files =========  -->
<!-- Bootstrap -->
<script th:src="@{/assets/js/lib/bootstrap.bundle.min.js}"></script>
<!-- Ionicons -->
<script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
<!-- Splide -->
<script th:src="@{/assets/js/plugins/splide/splide.min.js}"></script>
<!-- Base Js File -->
<script th:src="@{/assets/js/base.js}"></script>

</body>

</html>