<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{protected/fragments/head}"></div>

<body>

<div th:insert="~{protected/fragments/loader}"></div>

<div th:insert="~{protected/fragments/page-header :: pageHeader('Contas', '/protected/', true, '#accountActionSheet', false, '')}"></div>

<!-- App Capsule -->
<div id="appCapsule" class="compact-container">

    <div th:insert="~{protected/fragments/alert}"></div>

    <div class="section full">

        <ul class="listview image-listview flush">
            <li th:each="account : ${accounts}">
                <a th:href="@{'/protected/accounts/'+${account.id}}" class="item">
                    <div th:replace="~{protected/fragments/app-account-item}"></div>
                </a>
            </li>
        </ul>

    </div>
    <div th:replace="~{protected/fragments/app-account-action-sheet :: accountActionSheet(${account}, 'accountActionSheet')}"></div>
</div>
<!-- * App Capsule -->

<div th:insert="~{protected/fragments/app-bottom-menu}"></div>

<!-- ========= JS Files =========  -->
<!-- Bootstrap -->
<script th:src="@{/assets/js/lib/bootstrap.bundle.min.js}"></script>
<!-- Ionicons -->
<script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
<!-- Splide -->
<script th:src="@{/assets/js/plugins/splide/splide.min.js}"></script>
<!-- Base Js File -->
<script th:src="@{/assets/js/base.js}"></script>

</body>

</html>