<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!-- Transaction Action Sheet-->
<div class="modal fade action-sheet" th:id="${prefixId+(t.getId() == null ? '' : t.getId())}" tabindex="-1" role="dialog" th:fragment="transactionActionSheet(t, prefixId)">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="${t.getTitle()}"></h5>
            </div>
            <div class="modal-body">
                <div class="action-sheet-content">
                    <form action="#" th:action="@{${t.getId() == null ? '/protected/transactions/review' : '/protected/transactions/' + t.getId() + '/review'}}" method="post">
                        <input type="hidden" th:name="id" th:value="${t.id}" />
                        <input type="hidden" th:name="categoryName" th:value="${t.categoryName}" />
                        <input type="hidden" th:name="symbol" th:value="${t.currency.symbol}" />

                        <div class="form-group basic" th:if="${t.showCategoryPicker}">
                            <div class="input-wrapper">
                                <label class="label" th:for="${prefixId + 'transaction-category-'+t.getId()}">Categoria</label>
                                <select class="form-control custom-select" th:id="${prefixId + 'transaction-category-'+t.getId()}"
                                    th:name="categoryId" th:value="${t.categoryId}">
                                    <option th:each="c : ${t.categories}" th:text="${c.name}" th:value="${c.id}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" th:for="${prefixId + 'transaction-description-'+t.getId()}">Descrição</label>
                                <input type="text" class="form-control" th:id="${prefixId + 'transaction-description-'+t.getId()}" placeholder="Escreva uma descrição para essa transação"
                                       th:name="description" th:value="${t.description}">
                                <i class="clear-input">
                                    <ion-icon name="close-circle"></ion-icon>
                                </i>
                            </div>
                        </div>

                        <div class="form-group basic" th:if="${t.showDueDayOfMonthInput}">
                            <div class="input-wrapper">
                                <label class="label" th:for="${prefixId + 'transaction-duedate-'+t.getId()}">Dia de Vencimento</label>
                                <input type="number" class="form-control" th:id="${prefixId + 'transaction-duedate-'+t.getId()}"
                                       th:name="dueDayOfMonth" th:value="${t.dueDayOfMonth}" min="1" max="28">
                                <i class="clear-input">
                                    <ion-icon name="close-circle"></ion-icon>
                                </i>
                            </div>
                        </div>

                        <div class="form-group basic" th:if="${t.showOccurredAtInput}">
                            <div class="input-wrapper">
                                <label class="label" th:for="${prefixId + 'transaction-occurredAt-'+t.getId()}">Data de Pagamento</label>
                                <input type="datetime-local" class="form-control" th:id="${prefixId + 'transaction-occurredAt-'+t.getId()}"
                                       th:name="occurredAt" th:value="${t.occurredAt}">
                                <i class="clear-input">
                                    <ion-icon name="close-circle"></ion-icon>
                                </i>
                            </div>
                        </div>

                        <div class="form-group basic">
                            <label class="label">Valor</label>
                            <div class="input-group mb-2">
                                <span class="input-group-text" th:text="${t.currency.symbol}"></span>
                                <input type="number" step=".01" class="form-control" placeholder="Informe o valor"
                                       th:name="amount" th:value="${t.amount}">
                            </div>
                        </div>

                        <div class="form-group basic" th:if="${t.showRecurrenceInput}">
                            <label class="label">Recorrência</label>
                            <div class="input-group mb-2">
                                <select class="form-control custom-select" th:id="${prefixId + 'transaction-recurrence-'+t.getId()}"
                                        th:name="recurrence" th:value="${t.recurrence}">
                                    <option selected value="NONE">Sem recorrência</option>
                                    <option value="WEEKLY">Semanalmente</option>
                                    <option value="BIWEEKLY">A cada duas semanas</option>
                                    <option value="MONTHLY">Mensalmente</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group basic" th:if="${t.showInstallmentInput}">
                            <div class="input-wrapper">
                                <label class="label" th:for="${prefixId + 'transaction-installments-'+t.getId()}">Nº parcelas</label>
                                <input type="number" class="form-control" th:id="${prefixId + 'transaction-installments-'+t.getId()}"
                                       min="0" max="24" th:name="installments" th:value="${t.installments}">
                                <i class="clear-input">
                                    <ion-icon name="close-circle"></ion-icon>
                                </i>
                            </div>
                        </div>

                        <div class="form-group basic" th:if="${t.showDetailButton}">
                            <a th:href="@{'/protected/transactions/' + ${t.id}}" class="btn btn-info btn-block btn-lg">
                                <ion-icon name="search-outline"></ion-icon>
                                Detalhe
                            </a>
                        </div>
                        <div class="form-group basic">
                            <button type="submit" class="btn btn-primary btn-block btn-lg"
                                    data-bs-dismiss="modal">
                                <ion-icon name="save-outline"></ion-icon>
                                Salvar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * Transaction Action Sheet -->
</html>