<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<div class="img-wrapper">
    <img th:src="@{'/assets/img/bank/'+${account.bankImg}}" alt="img" class="image-block imaged w48">
</div>
<div class="in" style="margin-left: 10px;">
    <div>
        <div class="mb-05"><strong th:text="${account.name}"></strong></div>
        <div class="text-small mb-05">Saldo: <b th:text="${account.balance}"></b></div>
        <div class="text-xsmall" th:text="${account.getUpdatedAtFormatted()}"></div>
    </div>
    <span class="badge badge-primary badge-empty" th:if="${false}"></span>
</div>
</html>