<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!-- Transactions -->
<div class="section mt-2" th:if="${transactions.content.isEmpty()}">
    <p th:class="text-center">Não existe transação.</p>
</div>
<div class="section mt-2" th:each="entry : ${transactions.content}">
    <div class="section-title" th:text="${transactions.keyFormatted(entry.key)}"></div>
    <div class="transactions" th:each="t : ${entry.value}">
        <!-- item -->
        <a th:href="@{'/protected/transactions/' + ${t.id}}" class="item mb-2">
            <div class="detail">
                <img th:src="@{/assets/img/1.jpg}" alt="img" class="image-block imaged w48" th:if="${false}">
                <div>
                    <strong th:text="${t.categoryName}"></strong>
                    <p th:class="${t.status.isScheduled() ? 'text-warning' : ''}"
                       th:text="${(t.status.isConfirmed() ? t.occurredAtFormatted : t.statusFormatted)}"></p>
                </div>
            </div>
            <div class="right">
                <div class="price"
                     th:classappend="${t.type.isDebit() ? 'text-danger' : 'text-success'}"
                     th:text="${t.amountFormatted}">
                </div>
                <p class="text-end" th:if="${t.status.isConfirmed()}" th:text="${'('+t.balanceFormatted+')'}"></p>
            </div>
        </a>
        <!-- * item -->
    </div>
</div>
<!-- * Transactions -->
</html>