<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!-- App Sidebar -->
<div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <!-- profile box -->
                <div class="profileBox pt-2 pb-2">
                    <div class="image-wrapper">
                        <img th:src="@{/assets/img/avatar/man.png}" alt="image" class="imaged  w36">
                    </div>
                    <div class="in">
                        <strong th:text="${context.user.name}"></strong>
                        <div class="text-muted" th:text="${context.user.email}"></div>
                    </div>
                    <a href="#" class="btn btn-link btn-icon sidebar-close" data-bs-dismiss="modal">
                        <ion-icon name="close-outline"></ion-icon>
                    </a>
                </div>
                <!-- * profile box -->
                <!-- menu -->
                <div class="listview-title mt-1">Menu</div>
                <ul class="listview flush transparent no-line image-listview">
                    <li>
                        <a href="/protected/categories" class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="folder-outline"></ion-icon>
                            </div>
                            <div class="in">
                                Categorias
                                <span class="badge badge-primary" th:if="${false}">10</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/protected/reports" class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="pie-chart-outline"></ion-icon>
                            </div>
                            <div class="in">
                                Relatórios
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- * App Sidebar -->
</html>