<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!-- App Sidebar -->
<div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <!-- profile box -->
                <div class="profileBox pt-2 pb-2">
                    <div class="image-wrapper">
                        <img th:src="@{/assets/img/avatar/man.png}" alt="image" class="imaged  w36">
                    </div>
                    <div class="in">
                        <strong>Thiago Oliveira</strong>
                        <div class="text-muted">thiago@thiagoti.com</div>
                    </div>
                    <a href="#" class="btn btn-link btn-icon sidebar-close" data-bs-dismiss="modal">
                        <ion-icon name="close-outline"></ion-icon>
                    </a>
                </div>
                <!-- * profile box -->
            </div>
        </div>
    </div>
</div>
<!-- * App Sidebar -->
</html>