<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!-- App Bottom Menu -->
<div class="appBottomMenu">
    <a href="/protected/" class="item" th:classappend="${menu != null && menu.active == 'HOME' ? ' active' : ''}">
        <div class="col">
            <ion-icon name="home-outline"></ion-icon>
            <strong>Home</strong>
        </div>
    </a>
    <a href="/protected/categories" class="item" th:classappend="${menu != null && menu.active == 'CATEGORIES' ? ' active' : ''}">
        <div class="col">
            <ion-icon name="folder-outline"></ion-icon>
            <strong>Categorias</strong>
        </div>
    </a>
    <a href="/protected/reports" class="item" th:classappend="${menu != null && menu.active == 'REPORTS' ? ' active' : ''}">
        <div class="col">
            <ion-icon name="pie-chart-outline"></ion-icon>
            <strong>Relatórios</strong>
        </div>
    </a>
    <a href="app-components.html" class="item" th:if="${false}">
        <div class="col">
            <ion-icon name="apps-outline"></ion-icon>
            <strong>Components</strong>
        </div>
    </a>
    <a href="app-cards.html" class="item" th:if="${false}">
        <div class="col">
            <ion-icon name="card-outline"></ion-icon>
            <strong>My Cards</strong>
        </div>
    </a>
    <a href="app-settings.html" class="item" th:if="${false}">
        <div class="col">
            <ion-icon name="settings-outline"></ion-icon>
            <strong>Settings</strong>
        </div>
    </a>
</div>
<!-- * App Bottom Menu -->
</html>